*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0px;
    /* bottom: 0px; */
    top: 0px;
}
.navbar_logo{
    height: 30px;
}
.navbar_menu ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.navbar_menu ul li{
    list-style: none;
}
.navbar_menu ul li a{
    text-decoration: none;
}


.hero_image img{
    position: relative;
    width: 100%;

}