@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.header .navbar_logo img {
    max-height: 60px;
}


.navbar_menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar_menu ul li {
    list-style: none;
}

.navbar_menu ul li a {
    text-decoration: none;
    position: relative;
}

.navbar_menu ul li {
    position: relative;
}

.navbar_menu ul li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: red;
    left: 0px;
    bottom: -2px;
    transition: width .3s ease;
}

.navbar_menu ul li:hover::before {
    width: 100%;
}

.hero_image {
    position: relative;
    width: 100%;
}

.hero_image img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.hero_content {
    position: absolute;
    bottom: 30%;
    left: 18%;
    z-index: 10000;
}

.hero_content .hereo-sub-heading {
    font-size: 30px;
}

.hero_content h1.hero-heading {
    font-size: 55px;
}

.hero_content h1.hero-heading span {
    color: brown;
}

/* about start here */

.about-section {
    display: flex;
    justify-content: space-between;
    background: black;
    margin: 150px auto;
    padding: 0px 150px;

}

.about-section .about_img {
    padding-left: 20px;
    padding-top: 20px;

}

.about-section .about_img img {
    max-height: 450px;
    border-radius: 10px;
    margin-right: 20px;


}

.about_content {
    padding: 20px;
}

.about_tab_title {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-transform: uppercase;
    justify-content: start;
    position: relative;

}

.about_tab_link {
    margin-right: 40px;
    position: relative;
    transition: width .9s ease;
}

.about_tab_link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: red;
    left: 0px;
    bottom: -3px;
}

.about_tab_link:hover::after {
    width: 100%;
}

.about_tab_content_parent {
    display: flex;

    .about_tab_content li {
        list-style: none;
        padding: 5px;
    }

    .about_tab_content {
        visibility: hidden;
        position: absolute;
        margin-bottom: 10px;
    }

}

.about_tab_content.active_tab {
    visibility: visible;
}

/* services start here */
.services {
    margin: 150px auto;
    padding: 0px 150px;
    width: 100%;
}

.services .service-heading {
    font-size: 55px;
    padding-bottom: 20px;
}

.services_list {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.service-item {
    padding: 15px;
    background-color: rgb(158, 137, 110);
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.service-item i {
    background-color: rgb(158, 137, 110);
}

.service-item h2 {
    background-color: rgb(158, 137, 110);
}

.service-item p {
    background-color: rgb(158, 137, 110);
}

.service-item a {
    background-color: rgb(158, 137, 110);
}

/* porfolio section(work) start here */
.porfolio {
    margin: 150px auto;
    padding: 0px 150px;
    width: 100%;
}

.porfolio_heading {
    font-size: 64px;
    font-weight: bold;
    padding: 20px 0;

}

.work_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.work {
    position: relative;
}

.work-image img {
    max-width: 300px;
    max-height: 450px;
    border-radius: 10px;
}


.work-image:hover .work .layer {
    opacity: 1;
}

.work .layer {
    position: absolute;
    top: 0;
    max-width: 300px;
    opacity: 0;
    /* Remove other display property */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0px;
    background-color: brown;
}

.work .layer h3 {
    margin-bottom: 30px;
}

.work .layer p {
    margin-bottom: 30px;
    line-height: 25px;
    text-align: center;
    justify-content: center;
}

.work .layer a i {
    background-color: wheat;
    padding: 20px;
    color: brown;
    border-radius: 50%;
}

/* .layer p {
    border: 1px solid blue;
    width: 300px;
    text-align: justify;
} */

/* contact section start here */

.contact {
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 100px;
}

.contact_address {
    flex-basis: 35%;
}

.contact_form {
    flex-basis: 60%;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input,
.contact textarea {
    width: 70%;
}

/* contact end  */

.coppyright {
    margin-top: 20px;
    text-align: center;
}